<div id="createRecipeModal" data-toggle="modal" data-target="createRecipeModal" class="modal fade show" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Create a Recipe</h3>
                <button class="btn-close" type="button" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="container">
                <div class="row d-flex">
                    <div class="card">
                        <div class="card-body d-flex flex-column">
                            <label class="form-label recipe">Recipe Name</label>
                                <input id="recipeNameInput" class="form-control" type="text" />
                                <label class="form-label recipe">Recipe category</label>
                                <select id="recipeCategorySelectEl" class="form-select">
                                    <optgroup>
                                        <option>Breakfast</option>
                                        <option>Lunch</option>
                                        <option>Dinner</option>
                                        <option>Snack</option>
                                        <option>Dessert</option>
                                        <option>Condiment</option>
                                    </optgroup>
                                </select>
                            <label class="form-label recipe">Image</label>
                            <input id="recipeImageUpload" class="form-control" type="file" />
                                <label class="form-label recipe">Ingredients</label>
                            <div id="ingredientsInputContainer" class="text-end">
                                <input class="ingredient form-control form-control-sm" type="text"
                                    style="width: 80%;margin: 2px;"
                                    placeholder="1 quart apple juice" />
                                <input class="ingredient form-control form-control-sm" type="text"
                                    style="width: 80%;margin: 2px;"
                                    placeholder="3 tbsp peanut butter" />
                                <input class="ingredient form-control form-control-sm" type="text"
                                    style="width: 80%;margin: 2px;"
                                    placeholder="1 cup rice" />
                                <input class="ingredient form-control form-control-sm" type="text"
                                    style="width: 80%;margin: 2px;"
                                    placeholder="2 teaspoons cream" />
                                <input class="ingredient form-control form-control-sm" type="text"
                                    style="width: 80%;margin: 2px;" placeholder="6 tablespoons crushed walnut" />
                                    <a id="addMoreIngredientsButton" href="#" style="font-size: 17px;">Add more ingredients</a>
                                </div>
                            <label class="form-label recipe">Instructions</label>
                            <input id="instructionInput" class="form-control form-control-sm" type="text"
                                style="width: 247.6px;height: 159px;" placeholder="Instructions" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"><button id="saveRecipeBtn" class="btn btn-primary" type="button">Save</button>
            </div>
        </div>
    </div>
</div> 