<div id="createRecipeModal" data-toggle="modal" data-target="createRecipeModal" class="modal fade show" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Create a Recipe</h3>
                <button class="btn-close" type="button" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="container">
                <div class="row d-flex">
                    <div class="card">
                        <div class="card-body d-flex flex-column">
                            <div class="recipe-item dark">
                                <label class="form-label-recipe">Recipe Name:</label>
                                    <input id="recipeNameInput" class="form-control" type="text" />
                            </div>
                            <div class="recipe-item light">
                                <label class="form-label-recipe">Recipe Category:</label>
                                <select id="recipeCategorySelectEl" class="form-select">
                                    <optgroup>
                                        <option>Breakfast</option>
                                        <option>Lunch</option>
                                        <option>Dinner</option>
                                        <option>Snack</option>
                                        <option>Dessert</option>
                                        <option>Condiment</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="recipe-item dark">
                            <label class="form-label-recipe">Add an Image:</label>
                            <input id="recipeImageUpload" class="form-control" type="file" />
                            <button type="submit">Upload</button>
                            </div>
                            <div class="recipe-item light">
                                <label class="form-label-recipe">Ingredients:</label>
                                <div id="ingredientsInputContainer" class="text">
                                    <input class="ingredient form-control" type="text"
                                        style="width: 99%; margin: 2px;"
                                        placeholder="1 quart apple juice" />
                                    <input class="ingredient form-control" type="text"
                                        style="width: 99%; margin: 2px;"
                                        placeholder="3 tbsp peanut butter" />
                                    <input class="ingredient form-control" type="text"
                                        style="width: 99%; margin: 2px;"
                                        placeholder="1 cup rice" />
                                    <div>
                                        <a id="addMoreIngredientsButton" href="#" style="width: 99%; margin: 2px;">+</a>
                                    </div>

                                </div>
                            </div>
                            <div class="recipe-item dark">
                            <label class="form-label-recipe d-flex align-items-start">Instructions:</label>
                                <textarea name="ingredients" id="instructionInput" placeholder="1. Preheat oven to 350 degrees..." style="width: 100%; height: 100%;"></textarea>
                            </div>
                            <div class="d-flex justify-content-center"><button id="saveRecipeBtn" class="launch-button" type="button" style="margin-top: 25px;">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            
            </div>
        </div>
    </div>
</div> 