<div id="sign-up" class="modal fade show" role="dialog" tabindex="-1" style="display: block;">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create an Account</h4>
                <button class="btn-close" type="button"
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <section class="py-4 py-xl-5">
                    <div class="container">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                                <div class="card mb-5">
                                    <div class="card-body p-sm-5">
                                        <form method="post" class="create-account-form">
                                            <div class="mb-3"><input id="usernameInput" class="form-control" type="text"
                                                    name="name" placeholder="Name" /></div>
                                            <div class="mb-3"><input id="emailInput" class="form-control" type="email"
                                                    name="email" placeholder="Email" /></div>
                                            <div class="mb-3"><input id="passwordInput" class="form-control" type="password" placeholder="password"/>
                                            </div>
                                            <div>
                                                <button class="btn btn-primary d-block w-50" type="close"
                                                    style="">close</button>
                                                <button
                                                    class="btn btn-primary d-block w-100" type="submit"
                                                    style="">Go</button>
                                                </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer"><button class="btn btn-light" type="button"
                    data-bs-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Go</button>
            </div>
        </div>
    </div>
</div>