{{!-- html for the header and footer, and spaces to drop in the other templates/template items --}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RecipeMe</title>
</head>
<body>
  
</body>
</html>