{{!-- html for food categories to filter by. Includes spots to place in the cards from recipe-cards.handlebars --}}

{{!-- TODO: Make the links for filtering through categories "Breakfast", "Lunch", "Dinner", "Dessert", "Snacks" --}}


{{!-- container for cards --}}
{{!-- TODO: Make grid sytem instead of just a container (i think)
<div class="container">
    <div class="row">
        <div class="col-xl-4 offset-xl-0">
        {{!-- card template goes here --}}
        </div>
    </div>
</div> --}}