{{!-- html for the nav bar (links for "Create Recipes" and "Log Out"), welcome message that says "Hello, Username", and food categories for filtering the cards. Include spaces to drop in cards from "recipe-cards.handlebars" --}}
<div class="container">
    <div class="row">
        <div class="col-xl-4 offset-xl-0">
            <div class="card"><img class="card-img w-100 d-block" />
                <div class="card-img-overlay">
                    <h4>Title</h4>
                    <p>Paragraph</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 offset-xl-0">
            <div class="card"><img class="card-img w-100 d-block" />
                <div class="card-img-overlay">
                    <h4>Title</h4>
                    <p>Paragraph</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 offset-xl-0">
            <div class="card"><img class="card-img w-100 d-block" />
                <div class="card-img-overlay">
                    <h4>Title</h4>
                    <p>Paragraph</p>
                </div>
            </div>
        </div>
    </div>
</div>