{{!-- html for food categories to filter by. Includes spots to place in the cards from recipe-cards.handlebars --}}
<div class="container" id="allRecipes">
{{!-- TODO: Make the links for filtering through categories "Breakfast", "Lunch", "Dinner", "Dessert", "Snacks" --}}
    <nav class="filter">
        {{!-- navbar links for food categories--}}
        <div class="filter-categories">
            <button id="breakfastFilter" class="navbar-brand text-dark text-opacity-75 ms-3" type="button" value="Breakfast" >Breakfast</button>
            <button id="lunchFilter" class="navbar-brand text-dark text-opacity-75 ms-3" type="button" value="Lunch">Lunch</button>
            <button id="dinnerFilter" class="navbar-brand text-dark text-opacity-75 ms-3" type="button" value="Dinner">Dinner</button>
            <button id="dessertFilter" class="navbar-brand text-dark text-opacity-75 ms-3" type="button" value="Dessert">Dessert</button>
            <button id="snacksFilter" class="navbar-brand text-dark text-opacity-75 ms-3" type="button" value="Snacks">Snacks</button>
            <button id="condimentsFilter" class="navbar-brand text-dark text-opacity-75 ms-3" type="button" value="Condiments">Condiments</button>
        </div>
    </nav> 
    {{!-- this will display each recipe card if the user has created any recipes --}}
    {{! #each helps to over things }}

    <div class="d-flex justify-content-center">
        {{#each recipes as |recipe|}} {{! #each helps to over things }}
        {{> recipe-cards}} {{! forward information into a partial, the "recipe-cards" handlebars file }}
        {{/each}}
    </div> {{! forward information into a partial, the "recipe-cards" handlebars file }}
</div>