/* blue: #10AAFF */
/* yellow: #FFBE2C */

* {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
} 

main {
  background-image: linear-gradient(white, #e3e3e3);
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  background-color: #FFBE2C;
  background-image: URL(/images/spoon3.png);
  flex-basis: auto;
  flex-shrink: 1;
  opacity: .9 ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  align-items: flex-start;
  justify-content: space-between;
}

.go-home {
  display: flex;
  justify-content: start;
  width: 25%;
  height: 100%;
  border-style: none;
  border-width: 2px;
}

.navbar-brand {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 2;
  height: 46px;
  font-size: 18px;
  background-color: #FFBE2C;
  border: none;
  opacity: .90;
  color:rgba(44, 44, 44, 0.997);
}

.navbar-brand:hover {
  color: blue;
}

.welcome {
  font-family: 'Delius swash caps', cursive;
  font-weight: 600;
}


.welcome:hover {
  color:rgba(44, 44, 44, 0.997);
}

.carousel {
  width: 82%;
  margin: 0px;
  padding: 0px;
}

.carousel-inner {
  border-radius: 15px;
}

.carousel-caption {
  display: flex;
  margin: 2px;
  padding-left: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.72);
  color: rgba(44, 44, 44, 0.997);
  text-align: center;
  border-radius: 15px;
}

strong {
  color:#10AAFF;
  font-family: 'Delius swash caps', cursive;
}

.ms-3 {
  margin-left: 10px;
}

.mb-0 {
  font-size: 18px;
}

.launch-button {
  background-color: #10AAFF;
  /* background-color:#9ecaeb; */
  border: none;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.904);
  font-size: 18px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}

#addMoreIngredientsButton {
  background-color: #ffc02cd6;
  /* background-color:#9ecaeb; */
  border: none;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  color:rgba(68, 68, 68, 0.997);
  font-size: 22px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
}

.modal-header {
  display: flex;
  align-items: center;
  background-color: #ffc02cd6;
  color: rgba(68, 68, 68, 0.997);
  font-family: 'Delius swash caps', cursive;
}

.view-recipe-header {
  font-size: 24px;
  margin-bottom: 0px;
  font-family: 'Delius swash caps', cursive;
}

.modal-title {
  font-size: 24px;
  margin-bottom: 0px;
  font-family: 'Delius swash caps', cursive;
}

.sr-only {
  font-weight: 800;
}

.card {
  border-radius: 15px;
}

.card-recipe-title {
  font-size: 24px;

}

.card-recipe-category {
  font-size: 600;
  font-style: italic;
}

.card-img-top {
  border-radius: 15px 15px 0px 0px;
}

#viewRecipeBtn {
  background-color: #ffc02cd6;
  /* background-color:#9ecaeb; */
  border: none;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  color: rgba(68, 68, 68, 0.997);
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}

.light {
  /* background-color: #10abff35; */
  padding-top: 6px;
  padding-bottom: 26px;
}

.dark {
  /* background-color: #ffc02c46; */
  padding-top: 6px;
  padding-bottom: 26px;
}

.form-label-recipe {
  font-size: 18px;
  font-weight: 600;
  color:rgba(44, 44, 44, 0.997);
}

.filter-buttons {
  background-color: #10AAFF;
  /* background-color:#9ecaeb; */
  border: none;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.904);
  font-size: 18px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.filter-buttons:visited {
  color: #10AAFF;
}

.footer {
  background-color: #FFBE2C;
  opacity: .90;
}

.footer-links {
  text-decoration: none;
  color:rgba(44, 44, 44, 0.997);
  padding: 10px;
}

.recipe-me {
  font-family: 'Delius swash caps', cursive;
  font-size: 18px;
  color: rgba(44, 44, 44, 0.997);
  text-decoration: none;
}

/* @media screen and (max-width: 992) {

  html {
    width: 100vh;
  }
} */

@media screen and (max-width: 768px) {

  html {
    width: 100vh;
  }

  header {
    height: 150px;
    background-color:#FFBE2C;
  }
  
  .navbar {
    display: flex;
    background-color: #FFBE2C;
    background-image: none;
    opacity: .9 ;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: flex-start;
    justify-content: space-between;
  }

  .go-home {
    display: none;
  }
  
  .navbar-brand {
    display: flex;
    font-size: 18px;
    background-color: #FFBE2C;
    border: none;
    opacity: .90;
    color:rgba(44, 44, 44, 0.997);
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 60px;
    margin-right: 60px;
    height: fit-content;
  }

  .hero {
    margin-top: 60px;
  }
}