/* blue: #10AAFF */
/* yellow: #FFBE2C */

* {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
} 

.navbar {
  display: flex;
  background-color: #FFBE2C;
  background-image: URL(/images/spoon3.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  justify-content: flex-end;
  align-items: flex-start;
}

main {
  height: 74vh;
}

.navbar-brand {
  display: flex;
  flex-wrap:inherit;
  height: 46px;
  /* align-content: space-around;
  padding-top: 8px; */
  font-size: 16px;
}

.ms-3 {
  margin-left: 10px;
}

.welcome {
  font-family: 'Delius', cursive;
  font-weight: 600;
}

.myfooter {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 6px;
  background-color: #FFBE2C;
  height: 32px;
}

.team { 
  display: flex;
  align-items: center;
}

.footer-links {
  text-decoration: none;
  color: rgba(44, 44, 44, 0.997);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding-right: 10px;
}




